<%- include("header") -%>
<h2>This is Bob Code full stack web developer</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quidem
  maiores ullam dolor minima aspernatur quaerat illum nobis excepturi facilis
  voluptas vero, cum veniam! Recusandae blanditiis magnam dicta repudiandae
  quos!
</p>

<%- include("footer") -%>
